body{
    margin: 0;
}
.container{
    width: 1900px;
}
/*------------------------------top_header----*/

.top_header{
    background-color: #1d2124;
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_header_logo_container{
    width: 155px;
    height: 27px;
    display: flex;
    justify-content: start;
}
.top_header_logo_container:hover{
    cursor: pointer;
}
.top_header_logo{
    padding-left: 27px;
    padding-right: 27px;
    height: 27px;
    width: 27px;
}
.top_header_logo_text{
    font-size: 21px;
    font-family:'Open Sans', sans-serif;
    color: white;
    /*font-weight: bold;*/
}
.top_header_nav>ul{
    display: flex;
    justify-content: space-around;
    width: 700px;
    height: 12px;
}


.top_header_nav>ul>li{
    display: inline-block;
    font-family:'Open Sans', sans-serif;
    color: white;
    font-size: 14px;
    text-transform: uppercase;

}
.top_header_nav>ul>li:hover {
    cursor: pointer;
    text-decoration: underline;
}
.top_header_search{
    display: flex;
    width: 70px;
    height: 70px;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.top_header_search:hover{
    cursor: pointer;
}
.fa{
    font-size: 17px;
}
/*------------------------------center_header----*/
.center_header{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg/header-bg.jpeg");
    background-attachment: fixed;
    background-position-y: 159%;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-header-legend{
    color: white;
    text-transform: uppercase;
    font-size: 21px;
    font-family:'Open Sans', sans-serif;
}
.center-header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-header-buttons>input{
    width: 170px;
    border-radius: 3px;
    border:none;
    background-color: #89ca62;
    color: white;
    font-size: 15px;
    font-family:'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 17px;
    margin: 40px 10px;
}
.center-header-buttons>input:hover{
    cursor: pointer;
    background-color: #14b9d5;
}
/*------------------------------bottom-header----*/
.bottom-header{
    background-color:#f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bottom-header>h1{
    font-size: 21px;
    color:#18b4cf;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;

}
.bottom-header-container{
    width: 1180px;
    height: 850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.bottom-header-container>div{
    display: flex;
    flex-direction: column;
    margin: 13px;
    text-align: center;
    background-color: #fff;
}
.bottom-header-container:hover a{
    cursor: pointer;
}

.bottom-header-container p{
    font-weight: bold;
    font-family:'Open Sans', sans-serif;
    margin: 0 auto;
    padding: 20px 0;
}
/*------------------------------main-top-section----*/
.main-top-section {
    width: 100%;
    height: 590px;
    display: grid;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: repeat(auto-fit, minmax(25%,1fr));
    align-items: center;
    justify-items: center;
    background-image: url("../img/bg/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
    color:white;
}
.main-top-section a{
    display: grid;
    align-content: space-evenly
}
.main-top-section a:hover{
    cursor: pointer;
}
.main-top-section-clients-popular-clients{
    grid-area:2/2/3/4;
    display: grid;
    justify-items: center;
    height: 100%;
    grid-template-rows:1fr 3px ;
}
.main-top-section-clients-popular-clients>h1{
    display: grid;
    align-content: center;
}
.main-top-section-clients-popular-clients::after{
    content:'';
    display: inline-block;
    width: 60px;
    border-bottom: 3px solid #169cb4;
}
.main-top-section-clients-national-post{
    grid-area:3/1/3/2;
}
.main-top-section-clients-dryme{
    grid-area:3/2/4/3;
}
.main-top-section-clients-house-and-home{
    grid-area:3/3/4/4;
}
.main-top-section-clients-journy {
    grid-area:3/4/4/5;
}
/*------------------------------main-center-section----*/
.main-center-section{
    display: grid;
    justify-items: center;
    align-items: center;
}
.main-center-section>h1{
    grid-area: 1/1/1/8;
    font-size: 21px;
    color:#18b4cf;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding:60px 0 50px;
}
.main-center-section img{
    width: 100%;
}
/*------------------------------main-bottom-section----*/
.main-bottom-section{
    width: 60%;
    margin-left: 333px;
    display: grid;
    grid-column-gap: 3%;
    grid-row-gap: 25px;
    grid-template-columns: repeat(4, 25%);
    font-family:'Open Sans', sans-serif;
    align-items: center;

}
.main-bottom-section>h1{
    grid-area: 1/1/1/5;
    font-size: 21px;
    color:#18b4cf;
    text-transform: uppercase;
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding:60px 0 50px;
}
.main-bottom-section img{
     width: 100%;
 }
.main-bottom-section h3{
    font-size: 17px;
    text-align: center;
    font-family:'Open Sans', sans-serif;
    color: #66696c;
}
.main-bottom-section p{
    font-size: 13px;
    text-align: center;
    height: 100px;
    font-family:'Open Sans', sans-serif;
    color: #5b6469;
}
.main-bottom-section-hotels{
    background-color: #f9f7f7;
}
.main-bottom-section-hotels:nth-child(2){
    grid-area: 2/1/2/4;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 60% 40%;
}
.main-bottom-section-hotels:nth-child(2) img{
    grid-area: 1/1/3/2;
}
.main-bottom-section-hotels:nth-child(2) h3{
    grid-area: 1/2/2/3;
}
.main-bottom-section-hotels:nth-child(2) p{
    grid-area: 2/2/3/3;
}
.main-bottom-section-hotels:nth-child(3) {
    grid-area: 2/4/2/5;
}
.main-bottom-section-hotels:nth-child(4){
    grid-area: 3/1/3/3;
}
.main-bottom-section-hotels:nth-child(5){
    grid-area: 3/3/3/5;
}
.main-bottom-section-hotels:nth-child(6){
    grid-area: 4/1/4/3;
}
.main-bottom-section-hotels:nth-child(7){
    grid-area: 4/3/4/5;
}
.main-bottom-section-hotels:nth-child(8){
    grid-area: 5/1/5/2;
}
.main-bottom-section-hotels:nth-child(9){
    grid-area: 5/2/5/5;
}
.main-bottom-section-hotels:nth-child(9){
    grid-area: 5/2/5/5;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 60% 40%;
}
.main-bottom-section-hotels:nth-child(9) img{
    grid-area: 1/1/3/2;
}
.main-bottom-section-hotels:nth-child(9) h3{
    grid-area: 1/2/2/3;
}
.main-bottom-section-hotels:nth-child(9) p {
    grid-area: 2/2/3/3;
}
/*------------------------------footer----*/
.footer-container{
    width: 100%;
    height: 80px;
    margin-top: 70px;
    background-color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-text-left{
       color: white;
         }
.footer-logo-right{
    height: 40px;
    align-items: start;
    display: flex;
    justify-content: space-between;
}
.footer-logo-right img{
    margin-top: 5px;
}
.footer-logo-right a{
    text-decoration: none;
    font-size: 18px;
    font-family:'Open Sans', sans-serif;
    color: white;

}




