a{
    margin: 0 30px;
}
.header{
    width: 1280px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    font-family:"AdobeInvisFont","Roboto-Black","Courier","Courier New";
    font-weight: bold;
    font-size: 18px;
    padding: 28px;

    }
a:link {
    text-decoration: none;
    color: #16A085;
    }
a:hover {
    text-decoration: underline;
    color: green;
}
.text-w-button {
    height: 1440px;
    width: 1280px;
    background-image: url("fon.jpg");
    margin-top: 35px;
}
.up-tittle {
    height: 22px;
    font-size: 22px;
    font-family: "AdobeInvisFont","Roboto-Black","Courier";"Courier New";
    margin: 56px 317px 34px 342px;
    font-weight: bold;
    letter-spacing:1px;
}
.french{
    height: 354px;
    width: 1059px;
    font-size: 16px;
    margin: 34px 108px 34px 113px;
    font-weight: bold;
    text-indent:0px;
    line-height: 25.5px;
    font-family: "AdobeInvisFont","Roboto-Black","Courier";"Courier New";

}

h6{
  text-align: center;
}
.lets-go{
    height: 52px;
    width: 193px;
    font-size: 12px;
    background-color: #16A085;
    border-radius: 2px;
    border-style: none;
    font-weight: bold;
    color: white;
    letter-spacing:2px;
    font-family: "AdobeInvisFont","Roboto-Black","Courier";"Courier New";
    margin: 0 561px 94px 526px;
}
.all-rights{
  height: 16px;
  width: 418px;
  margin: 0 104px 45px 768px;
}
p{
  text-align: right;
  font-size: 16px;
  font-family: "Courier";"Courier New";
}
