/*общий клас*/
body{
    width:1480px;
    height: 1282px;
}
.common{
    width:1280px;
    margin-left: 100px;
    font-family: "AdobeInvisFont", Courier;
}
/* ссылка на название */
.header-wrap{
    width:1280px;
    height: 18px;
    display: inline-block;

}
.header {
    height: 74px;
    width: 292px;
    color: #00ffff;
    font-size: 80px;

    }
.two-letter-before{
    color: #000000;
    }
.header,.hyperlink,.hyperlink-low1,.hyperlink-left,.hyperlink-low {
    text-decoration: none;
}

/* основное верхнее меню*/
.top-menu{
    width: 1281px;
    vertical-align: center;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-color: beige;
    background-color: #35444f;
    display: inline-block;
    color: white;
    margin-top: 44px;
    margin-bottom: 50px;
}

.top-menu-li{
    display: inline-block;

}
.hyperlink{
    color: white;
    display: inline-block;
    font-size: 22px;
    padding: 20px 40px;
    }

.top-menu-li .hyperlink:hover{
    background-color: #222F3A;
}

/*левое меню*/
.left-menu{
    width: 344px;
    height: 399px;
    border-style: solid;
    border-width: thin;
    display: inline-block;
    float: left;
    font-size: 30px;
    cursor: pointer;


}
.left-menu-li {
    width: 344px;
    height: 80px;
    color: #35444F;
    display: inline-block;

}
.left-menu-li a {
    display: inline-block;
    vertical-align: center;
}

.hyperlink-left {
    padding-left: 20px;
    padding-bottom:30px;
    padding-top:30px;
}

.left-menu-li:hover {
    background-color: #DBDBDB;
    color: #35444F;
    box-sizing: border-box;
    border-style: solid;
    border-width: thin;
    border-color:#DBDBDB;
    font-weight: bold;
    text-align: center;
}

/*правое меню*/
.right-menu{
    width: 880px;
    height: 832px;
    display: inline-block;
    margin-left: 50px;

}
.image-container-of-right-menu{
    height: 529px;
    width: 885px;
    border-style: solid;
    border-width: thin;
    display: inline-block;
    background-image: url("bg/ram.png");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition-property: background-size;
    transition-duration: 200ms;
}
.image-container-of-right-menu:hover {
    background-size: 400px;
}
/*текст*/
.rus-text  {
    padding: 30px 50px 30px 40px;
    font-size: 18px;
    color: #2C2C2C;

}
.esp-text {
    padding: 0 50px 50px 40px;
    font-size: 18px;
    color: #2C2C2C;
}
/*нижнее меню*/
.wrap-low-menu{
    background-color: #b4b7ba;
    vertical-align: center;
    border-style: solid;
    border-width: thin;
    border-color: beige;
}

.low-menu-left-li{
    display: inline-block;
}
.low-menu-right-li{
    display: inline-block;
}
.hyperlink-low, .hyperlink-low1 {
    font-size: 26px;
    color: #0C1927;
    text-align: left;
    display: inline-block;
    padding-top: 20px ;
    padding-bottom: 20px;
}
.firstHyperlink-low {
  padding-left: 44px;
}
.low-menu-right-text, .low-menu-right-text-2018{
    display: inline-block;
    font-size: 24px;
    color: #0C1927;
    padding-top: 22px ;
    padding-bottom: 22px;
    }
.logo {
    font-size: 24px;

}
.low-menu-right-text {
    padding-left: 85px;

}
.low-menu-right-text-2018 {
    padding-right: 34px;
}
.wrap-low-menu .low-menu-left-li .hyperlink-low:hover {
    text-decoration: underline;
    color: #3181a6;
}


