@font-face {
    font-family: 'Verdana Bold';
    src: url('fon/verdana/Verdana-Bold.eot');
    src: url('fon/verdana/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('fon/verdana/Verdana-Bold.woff') format('woff'),
    url('fon/verdana/Verdana-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana Regular';
    src: url('fon/verdana/Verdana.eot');
    src: url('fon/verdana/Verdana.eot?#iefix') format('embedded-opentype'),
    url('fon/verdana/Verdana.woff') format('woff'),
    url('fon/verdana/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("fon/bg/backgr1X.jpeg");
    background-repeat: no-repeat;
    background-size: 1366px 768px;
}
.common {
    width: 1366px;
    height: 736px;

}

.header {
    width: 1146px;
    height: 626px;
    margin: 48px 150px 61px 157px;
}
.header a {
    text-decoration: none;
    font-family: Verdana,AdobeInvisFont,Courier,Serif;
}
.header-container{
    width: 1146px;
    height: 50px;
}

.header-left1 {
    width: 500px;
    display: inline-block;
    float:left;
}

.logo {
    width: 46px;
    height: 44px;
    background-image: url("fon/logo/logo@1X.png");
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    }

.text-logo {
    display: inline-block;
    font-size: 22px;
    font-family: "Verdana Bold",Verdana,AdobeInvisFont,Courier,Serif;
    color: #ffffff;
    float: left;
    width: 430px;
    margin-left: 15px;
}

.text2-logo {
    width:105px;
    height: 13px;
    font-size: 13px;
    font-family: "Verdana Bold",Verdana,AdobeInvisFont,Courier,Serif;
    color: #ffffff;
    float: left;
    margin-left: 15px;
    margin-top: 11px;
}

.header-right1 {
    width: 577px;
    text-align: right;
    display: inline-block;
    float: left;
}

.header-right1 span {
    color: white;
    font-family: "Verdana Bold",Verdana,AdobeInvisFont,Courier,Serif;
}

.central li {
    height: 200px;
    width: 307px;
    display: block;
    float: left;
    -webkit-transition: all ,3s;
    margin: 48px 69px 58px 0;
    border: solid;
    border-width: 4px 2px 2px 4px;
    border-image: linear-gradient(to bottom, white, transparent 75%) 1 10%;
}

.central a {
    position: relative;
}

.text-low-cart {
    position: absolute;
    width: 307px;
    text-align: center;
    top: 91%;
    color: #ffffff;
    background-color: rgba(0 0 0 0.5);
    font-size: 18px;
    margin-top: 22px;
}

.magic-text {
    position: absolute;
    width: 313px;
    height: 63px;
    left: calc(50% - 157px);
    color: #fff;
    bottom: 11%;
    display: none;
    background-color:#f26522;
}

.magic-text-span {
    position: absolute;
    left: 185px;
    top: 35px;
    font-size: 11px;

}
.magic-text-span::after {
    content:">";
    margin-left: 15px;
    font-size: 10px;
}

.magic-text-span::before {
    position: absolute;
    content:"\20AC 50";
    font-size: 15px;
    left: -164px;
    top: -3px;
}

.magic-text::before {
    position: absolute;
    content:"from";
    font-size: 8px;
    left: 21px;
    top: 16px;
}

.central a:hover .magic-text{
    display:block;
}

.header a:hover .text-low-cart{
    color:#f26522;
}
.centre_cartoon {
    height: 100px;
    width: 100px;
}

.header-left1:hover .logo{
    background-image: url("fon/logo/logo2@1X.png");
}

.header-left1 :hover {
    color:#f26522;
}

.low-text {
    margin: 0 503px 20px 512px;
    color: #ffffff;
    font-family: Verdana,AdobeInvisFont,Courier,Serif;
    font-size: 12px;
    text-align: center;
}