a{
    margin: 0 30px;
}
.header{
    width: 1280px;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    font-family:"AdobeInvisFont","Roboto-Black","Courier","Courier New";
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;

    }
a:link {
    text-decoration: none;
    color: #16A085;
    }
a:hover {
    text-decoration: underline;
    color: green;
}
.text-w-button {
    height: 1440px;
    width: 1280px;
    background-image: url("fon.jpg");
    margin-top: 10px;
}
.up-tittle {
    font-size: 22px;
    font-family: "AdobeInvisFont","Roboto-Black","Courier";"Courier New";
    margin: 30px 159px 17px 171px;
    font-weight: bold;
    letter-spacing:1px;
}
.french{
    height: 354px;
    width: 1059px;
    font-size: 16px;
    margin: 17px 54px 93px 57px;
    font-weight: bold;
    text-indent:20px;
    letter-spacing:1px;
    line-height: 25.5px;
    font-family: "AdobeInvisFont","Roboto-Black","Courier";"Courier New";

}
.lets-go{
    height: 52px;
    width: 193px;
    font-size: 12px;
    background-color: #16A085;
    border-radius: 2px;
    border-style: none;
    font-weight: bold;
    color: white;
    letter-spacing:2px;
    font-family: "AdobeInvisFont","Roboto-Black","Courier";"Courier New";
}