table{
    table-layout: auto;
    width:1140px;
    height:682px;
    border-collapse: collapse;
    box-shadow: 0 0 0 22px #3a4965;
}
tr{
    width: 277px;
    border: 1px solid #e2e2e2;
    font-family: 'Arimo', sans-serif;
}
/*-----------------------------------------head*/
th{
    background: #fafafa;
    width: 279px;
    height: 69px;
    border: 1px solid #e2e2e2;
    font-size: 50px;
    }
.header-low th{
    position: relative;
}

.header-low th:after{

    content: 'PER MONTH';
    font-size: 14px;
}
.header-low th:before{
    content: '.99';
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    right:117px;
    top:14px;
}
.header>th{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    }

.header th:first-child:after{
    content: 'pricing plan';
    font-size: 22px;
    font-weight: bold;
}
.header th:nth-child(2){
    background: #89c331;
    color: white;
    font-size: 18px;
    border-color: #89c331;
    text-transform: uppercase;
    }
.header th:hover:nth-child(2){
    cursor: pointer;
    font-size: 22px;
    box-shadow:1px -1px 0 1px #89c331;
    position: relative;
    z-index: 2;
}
.header th:nth-child(3) {
    background: #f04a56;
    color: white;
    font-size: 18px;
    border-color: #f04a56;
    text-transform: uppercase;
}
.header th:hover:nth-child(3){
    cursor: pointer;
    font-size: 22px;
    box-shadow:1px -1px 0 1px #f04a56;
    position: relative;
    z-index: 2;
}
.header th:nth-child(4) {
    background: #20807c;
    color: white;
    font-size: 18px;
    border-color: #20807c;
    text-transform: uppercase;
}
.header th:hover:nth-child(4){
    cursor: pointer;
    font-size: 22px;
    box-shadow:1px -1px 0 1px #20807c;
    position: relative;
    z-index: 2;
}
/*-----------------------------------------foot*/
tfoot tr td:first-child{
    height: 110px;
    display: flex;
}
input{
    margin: auto;
}
tfoot tr td:first-child {
    background: #dddddd;
}
tfoot tr td {
    background: #eeeeee;
}
tfoot tr td:hover {
    background:#f4f4f4;
    cursor: pointer;
}
.footer_submit{
    height: 49px;
    width: 192px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
}
.footer_submit_first {
    background-color: #484848;
}
.footer_submit_second{
    background-color: #89c331;
}
.footer_submit_third{
    background-color: #f04a56;
}
.footer_submit_forth{
    background-color: #20807c;
}
.footer_submit_first:hover{
    box-shadow: inset 0 -5px 0 0 #404040;
}
.footer_submit_second:hover{
    box-shadow: inset 0 -5px 0 0 #79b027;
}
.footer_submit_third:hover{
    box-shadow: inset 0 -5px 0 0 #df3a46;
}
.footer_submit_forth:hover{
    box-shadow: 0 -5px 0 0 #16736f inset;
}
/*-----------------------------------------body*/
td{
    border: 1px solid #e2e2e2;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    font-size: 13px;
}
tbody tr:nth-child(2n) {
    background: #e3e3e3;
}
tbody tr:nth-child(2n+1) {
    background: #f2f2f2;
}
.fas::before{
    display: inline-block;
    padding-right: 13px;
    color:#848484;
}
.fa-archive{
    font-size: 21px;
}
.fa-cloud-upload-alt{
    font-size: 19px;
}
.fa-envelope{
    font-size: 20px;
}
.fa-life-ring{
    font-size: 25px;
}
.fa-cube{
    font-size: 23px;
}
.fa-users{
    font-size: 25px;
}